[SddmGreeterTheme]
Name=Aura
Description=Aura theme with purple accents
Author=Brian Pham
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=aura
Theme-API=2.0
QtVersion=6
